body{
    width: 75%;
    margin: auto;
    padding: 10px;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

header nav ul li{
    padding: 10px 15px;
    display: block;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li a:hover{
    border-bottom: 1px solid black;
}

.topside{
    text-align: center;
    background-color: rgb(87, 87, 87);
    padding: 10px;
    color: white;
}

main{
    background-color: orange;
}

.flex-container{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container div{
    padding: 10px;
}

footer{
    color: white;
    background-color: black;
    padding: 20px;
}

span{
    color: orange;
}


main p{
    padding: 10px;
}

form{
    padding: 10px;
}

form input{
    margin: 10px;
}

.logo-holder{
    display: flex;
    align-items: baseline;
}

.logo{
    width: 50px;
}

.flex-container div{
    width: 20%;
}

img{
    width: 100%;
}

@media only screen and (max-width: 425px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header h2{
        text-align: center;
    }

    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    header nav ul li{
        padding: 10px 15px;
        display: block;
    }

    header nav ul li a{
        text-decoration: none;
        color: black;
    }
    
    header nav ul li a:hover{
        border-bottom: 1px solid black;
    }

    .topside{
        text-align: center;
        background-color: rgb(87, 87, 87);
        padding: 10px;
        color: white;
    }
    
    main{
        background-color: orange;
    }

    .flex-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .flex-container div{
        padding: 10px;
    }
    
    footer{
        color: white;
        background-color: black;
        padding: 20px;
    }
    
    span{
        color: orange;
    }

    form{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form input{
        margin: 10px;
    }

    .logo-holder{
        justify-content: center;
    }
}


/* next lesson covering media queries and responsive design */